*{
  padding:0;
  margin:0;
  box-sizing: border-box;

}
body{
  background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.menubar{
  background: rgb(0,100,0);
  text-align: center;
}
.menubar ul{
  display: inline-flex;
  list-style: none;
  color:#FFF;
}
.menubar ul li{
  width: 120px;
  margin:15px;
  padding:15px;
}
.menubar ul li a{
  text-decoration: none;
  color: #fff;
}
.active, .menubar ul li:hover{
  background: #2bab0d;
  border-radius: 3px;
}
.sub-menu-1{
  display: none;
}
.menubar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: rgb(0,100,0);
  margin-top: 15px;
  margin-left: -15px;
}
.menubar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}
.menubar ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  text-align: left;
}
.menubar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}
.menubar ul li:hover .sub-menu-1 ul li:hover{
  background: #2bab0d;
}
